*.pyc
db.sqlite3
0*.py
.DS_Store
venv
my_env
.idea
config.ini
*.pem
media
.env
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
service-key.json
service-key-old.json
old.env
env.yaml
external
external_data